{% load webpack_loader static %}
{% load viewcomponent_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modal Example</title>
  {% stylesheet_pack 'app' %}
  {% javascript_pack 'app' attrs='defer' %}
</head>
<body>
  {% component 'modal' as modal_comp %}
    {% call modal_comp.modal_trigger %}
      <button data-action="click->modal#openModal" class="btn-blue" type="button">
        Toggle modal
      </button>
    {% endcall %}

    {% call modal_comp.modal_header %}
      <h3>
        Modal Title
      </h3>
    {% endcall %}

    {% call modal_comp.modal_body %}
      <p class="text-base leading-relaxed text-gray-500">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in lectus et ipsum eleifend consequat. Aenean
        pellentesque tortor velit, non molestie ex ultrices in. Nulla at neque eu nulla imperdiet mattis vel sit amet
        neque. In ac mollis augue, ac iaculis purus. Donec nisl massa, gravida pharetra euismod nec, ultrices ut quam.
        Vivamus efficitur bibendum hendrerit. In iaculis sagittis elementum. Sed sit amet dolor ultrices, mollis nisl
        sed, cursus eros. Suspendisse sollicitudin quam nulla, at dignissim ex scelerisque non. Mauris ac porta nisl.
      </p>
    {% endcall %}

    {% call modal_comp.modal_footer %}
      <button data-action="click->modal#closeModal" type="button" class="btn-blue">
        Close
      </button>
    {% endcall %}
  {% endcomponent %}
</body>
</html>
